*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.warpper{
    width: 97%;
    margin: 0px auto;
}


/* header css*/

/*img_logo*/
header{
    align-items: center;
    background-color: black;
 
}

.symbol
{
    padding:20px 5px;
    display: flex;
    
}
.logo{
    margin-left: auto;
    margin-right: auto;
}
.logo img{
    display: block;
    height: 20px;
}

header  i {
    color:white;
    font-size: 20px;
}

/*header_right*/
.col25{
    
    width: 25%;
    
}

.right{
   text-align: right;
}
.right > a{
    margin-left:30px;
}

/*header_left*/

.left{
  
    text-align:left;
}


/*css menu*/
ul.menu{
    list-style-type: none;
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: center;
    border-bottom:1px solid gainsboro;
}
ul.menu > li >a{
    text-decoration:none;
    color:black;
    font-weight: bold;
    display:block;
    padding:12px 15px 15px;
    margin: 0px 20px;
    border:2px solid white;
    text-align: center;
}

ul.menu > li >a:hover{
    border-bottom: 2px solid black;
}








/*css FOOTER*/
.footer_services{
    background-color:black;
    display:flex;
    flex-wrap: wrap;
    
}
.footer_services i{
    font-size: 55px;

}

.service_info{
    margin-left:10px;
    display:block;
}
.footer_service{
    width: 25%;
    padding:10px 20px;
    display:flex;
    color:white;
    align-items: center;
}

.footer_service h2{
    font-size:20px;
}

.service_info p {
    margin : 0 0 10px;
}


div.service_info > h2{
    font-weight: bold;
}


.footer_credit{
    padding-top: 50px;
    background-color: black;
}

img.logocredit{
    width:15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social{
    text-align: center;
}

.social > a > i{
    font-size: 40px;
    color: white;
}

.sm{
    margin: 20px 10px;
}

.social > a > i.sm:hover{
    color:goldenrod;
}



  /*SUBMENU*/
.subcontent{
    display: none !important;
    position: absolute;
    background-color: white;
}

.submenu:hover .subcontent{
    display:block !important;
    z-index: 1;
}


.title_blog{
    padding-top:150px;
    padding-left:20px;
    align-items: center;
    display:flex;
}
.title_blog h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}
.title_blog h1 a{
    color:black;
    text-decoration: none;
   
}
.title_blog h1 a:hover{
    color:goldenrod;
}


.col15{
    width: 15%;
}
.col85{
    width: 85%;
}
.main{
    display:flex;
    margin: 35px;
}
/*LEFT*/
ul.vertical{
    list-style-type: none;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
ul.vertical > li >a{
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-size: 20px;
    display:block;
    padding:15px;
    margin: 10px;
}

ul.vertical > li >a:hover{
    color:goldenrod;
}

/*RIGHT*/
.catalog{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
}
.sneaker{
    width: 25%;
    text-align: center;
    padding:2%;
}
div.sneaker img{
    width: 100%;
}
.sneaker_info{
    font-weight: bold;
    font-size: 17px;
}



/*PAGENUMBER*/
.page_next{
    display:flex;
    margin-left: auto;
    justify-content: flex-end;
}

.page_number a{
    display:block;
    color : black;
    background-color:white;
    padding : 0px;
    margin: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border:1px solid black;
    text-align: center;
    text-decoration: none;
}
.page_number a:hover{
    background-color: black;
    color:white
}

/* CSS PRODUCT */


.test{
    position: relative;
}

.set {
    position: absolute;
    top: 50%;
    text-align: center;
    color: gray;
    font-size:75px;
}
div.sneaker img:hover{
    opacity: 0.3;
    cursor: pointer;
}
#myInput{
    border: none;
    border-radius: 0%;
}

#mybutton{
    display : block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:black;
    border: 2px solid black;
    color: white;
    outline:  none;
    font-size: 20px;
    opacity: 0.88;
}
html {
    scroll-behavior: smooth;
  }

  /*fixed*/

.fix{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0px;
    margin: 0;
}
nav .menu{
    background-color: white;
}

  
@media only screen and (max-width: 1000px){
    div.product {
        width: 50%;
    }
    .footer_service{
        width: 50%;
    }
    .sneaker{
        width: 50%;
    }
}